{% extends 'base.html' %}
{% block title %}Об авторе{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}

    <main class="main container">
        <div class="custom-center-block">
           <p><h3> Меня зовут Денис, я выпускник Яндекс.Практикума
           по специальности Python-разработчик.<br> Со мной можно связаться:</h3>
           <p><h3>Почта: da_semenov@mail.ru</h3></p>
            <p><h3>По телефону: 8-962-879-03-89</h3></p>
           <p><h3><a href='https://github.com/da-semenov'>Мой профиль на Github</a></h3></p>
        </div>
    </main>

{% endblock %}